.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #000000;
}

.dark-mode .navbar a.nav-link {
  color: #ffffff;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 20px;
}

