/* Base Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

h2 {
  font-weight: 600;
  color: #333;
}

.container {
  max-width: 960px;
}

a {
  transition: color 0.3s ease;
}

a:hover, a:focus {
  color: #0056b3; /* Adjust color based on your theme */
}

[role="button"], button {
  cursor: pointer;
}

/* Button Styles */
.btn {
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.btn-primary, .btn-download, .btn-secondary {
  color: #000 !important; /* Black text for better contrast with lighter pink */
  background-color: #f5c5c2 !important; /* Lighter pink */
  border-color: #f5c5c2 !important;
}

.btn-primary:hover, .btn-download:hover, .btn-secondary:hover {
  background-color: #f78da7 !important; /* Slightly darker pink on hover */
  border-color: #f78da7 !important;
}

.btn-group .btn {
  margin-right: 5px;
}

/* Card Styles */
.card {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-body {
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 0.25rem;
}

.card-title {
  margin-bottom: 1rem;
  color: #ff69b4; /* Consistent theme color */
}

/* Navbar Styles */
.navbar {
  background-color: #f5c5c2 !important; /* Lighter pink for the navbar */
}

.navbar a.nav-link {
  color: #000000 !important; /* Black font color for visibility */
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #343a40;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #000000;
}

.dark-mode .navbar a.nav-link,
.dark-mode .card,
.dark-mode .card > .card-body {
  color: #ffffff;
}

.dark-mode .card {
  background-color: #484e53;
}

.dark-mode .card > .card-body {
  background-color: #3c4347;
}

/* Responsive Design */
@media (max-width: 768px) {
  .btn-group {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
