{% extends "base.html" %} {% block content %}
<body>
  <div class="container mt-5">
    <h1 class="mb-4">Posture Monitoring System</h1>
    <div id="status" class="alert alert-success">Status: Normal</div>
    <div class="table-responsive">
      <table id="data-table" class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Time</th>
            <th>MPU1 Accel X</th>
            <th>MPU1 Accel Y</th>
            <th>MPU1 Accel Z</th>
            <th>MPU1 Gyro X</th>
            <th>MPU1 Gyro Y</th>
            <th>MPU1 Gyro Z</th>
            <th>MPU2 Accel X</th>
            <th>MPU2 Accel Y</th>
            <th>MPU2 Accel Z</th>
            <th>MPU2 Gyro X</th>
            <th>MPU2 Gyro Y</th>
            <th>MPU2 Gyro Z</th>
          </tr>
        </thead>
        <tbody id="data-table-body">
          <!-- Data rows will be dynamically added here -->
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/realtime_data.js') }}"></script>
</body>

{% endblock %}
