<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PosturePerfect Management</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PosturePerfect</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.data') }}">Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.analysis') }}"
                >Analysis</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('main.settings') }}"
                >Settings</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container mt-4">{% block content %}{% endblock %}</div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
