{% extends "base.html" %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-4">Posture Data</h2>

  <div class="d-flex justify-content-start" style="margin-bottom: 20px">
    <div class="btn-group" role="group" aria-label="Time Interval">
      <button type="button" class="btn btn-secondary" id="day">Day</button>
      <button type="button" class="btn btn-secondary" id="week">Week</button>
      <button type="button" class="btn btn-secondary" id="month">Month</button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Usage Time</h5>
          <p class="card-text" id="usageTime">0 hrs</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Good Posture Percentage</h5>
          <p class="card-text" id="goodPosturePercentage">0%</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Alerts</h5>
          <p class="card-text" id="alerts">0</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Correct Sitting Duration</h5>
          <canvas id="correctSittingChart"></canvas>
          <button class="btn btn-primary mt-3">Download Data</button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Number of Reminders</h5>
          <canvas id="reminderChart"></canvas>
          <button class="btn btn-primary mt-3">Download Data</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/data.js') }}"></script>
{% endblock %}
